.App {
  width: 90%;
  margin: 20px auto;
}

hr {
  border: 2px solid #233;
}

.post {
  padding: 15px;
  margin-bottom: 10px;
  background: #ddd;
  position: relative;
}

.edit-post {
  position: absolute;
  top: 5px;
  right: 5px;
}

.edit-post i {
  font-size: 30px;
  cursor: pointer;
  color: rgb(243, 6, 6);
  padding-left: 10px;
}

.edit-post i.fa-pencil-square {
  color: green;
}

form {
  font-size: 17px !important;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

label, input {
  display: block;
}

label {
  margin-top: 10px;
}

input {
  width: 350px;
  border: 1px solid #aaa;
  outline: none;
  padding: 10px;
  margin-top: 5px;
  font-size: 17px;
}

button {
  padding: 10px 15px;
  border: none;
  background: rgb(167, 231, 62);
  cursor: pointer;
  margin: 15px 0;
  font-size: 15px;
}

form span {
  display: block;
  width: 350px;
  text-align: center;
  padding: 5px !important;
}
